<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<body>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

    <style>
        * {
            font-family: "Rubik", "sans-serif";
        }

        div {
            text-align: center;
            margin-top: 50px;
        }

        h1 {
            color: red;
            font-size: 40pt;
        }

        p {
            font-size: 24pt;
        }
    </style>

    <h1>File not found!</h1>
</body>
</html>