<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}WebAssembly Benchmarking{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        {% block head %}{% endblock %} 
    </head>
    <body>
        <header>
            <ul class="navbar">
                <li class="navbar-title" style="float: left;">WebAssembly Benchmarking</li>
                <li><a href="/about">Team</a></li>
                <li class="dropdown">
                    <a class="dropbtn">Learn</a>
                    <div class="dropdown-content">
                        <a href="/research-overview">Research Overview</a>
                        <a href="/engine-config-details">Engines & Configurations</a>
                        <a href="/full-data">Full Data</a>
                    </div>
                </li>
                <li><a href="/">Home</a></li>
            </ul>
        </header>
        {% block body %}{% endblock %} 
        <footer>
            &copy; 2023 WebAssembly Benchmarking. All rights reserved.
        </footer>
    </body>
</html>