{% extends 'base.html' %}

{% block title %}Full Data{% endblock %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/vega@5.25.0"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@5.9.1"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@6.22.1"></script>
{% endblock %} 

{% block body %}
<style>
    .box {
        padding: 0 15px;
    }

    h2 {
        padding: 0 20px;
        text-align: center;
    }

    h3 {
      text-align: center;
    }

    p {
        margin: 20px 20px;
    }

    ul {
      list-style: none;
    }
</style>
<h1 style="padding-top: 20px;">WebAssembly Benchmarking Full Data</h1>
<p style="padding-bottom: 20px;">Here is the detailed data from our experiments.</p>

<div class="box" style="margin: 20px 20px;">
  <div class="clearfix">
    <div class="box" style="width: 50%">
      <h3>Engine Configuration Total Time</h3>
      <div style="width: 100%;" id="mainVis"></div>
    </div>
  </div>
</div>

<div class="box" style="margin: 10px 20px;">
  <div class="clearfix">
    <form action="/full-data" method="GET">
      <ul>
        <li><input type="checkbox" name="jsc" value="engine"></input><label for="jsc">JavaScriptCore (jsc)</label></li>
        <li> <input type="checkbox" name="v8" value="engine"></input><label for="v8">V8</label></li>
      </ul>
    </form>
</div>


<!-- <table style="width: 40%; padding: 15px 20px;">
  <thead>
    <tr>
      <th style="text-align: center;" colspan="1"><h2>Engine Total Time</h2></th>
    </tr>
  </thead>
    <tr>
      <td><div style="display: block; text-align: center;" id="mainVis"></div></td>
    </tr> 
  </table> -->

<script>
var vlSpec = {
    "width": "container",
    "$schema": 'https://vega.github.io/schema/vega-lite/v5.json',
    "data": {"url": "/calculate-error/sm"},
    "layer": [
      {
        "mark": "errorband",
        "encoding": {
          "y": {
            "field": "pct95",
            "type": "quantitative",
            "scale": {"zero": false},
            "title": "Total Time (5%-95% CIs)"
          },
          "y2": {"field": "pct5"},
          "x": {"field": "experiment_date", "timeUnit": "yearmonthdate", "title": "Experiment Date"},
          "color": {
            "field": "config", 
            "type": "nominal"
          }
        }
      },
      {
        "mark": "line",
        "encoding": {
          "y": {"field": "total_time", "type": "quantitative"},
          "x": {"field": "experiment_date", "timeUnit": "yearmonthdate", "title": "Experiment Date"},
          "color": {
            "field": "config", 
            "type": "nominal"
          }
        }
      }
    ]
  };
  vegaEmbed('#mainVis', vlSpec);
</script>
{% endblock %}