{% extends 'base.html' %}

{% block head %}
<title>Geomean Bar Chart for {{suite}} Suite</title>
<script src="https://cdn.jsdelivr.net/npm/vega@5.25.0"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@5.9.1"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@6.22.1"></script>

<style media="screen">
/* Add space between Vega-Embed links  */
.vega-actions a {
  margin-right: 5px;
  }
</style>
{% endblock %} 

{% block body %}
    <h1>Geomean for {{suite}} Suite</h1>
    <!-- Container for the visualization -->
    <div id="vis"></div>

    <script>
      // Assign the specification to a local variable vlSpec.
      var vlSpec = {
        "$schema": 'https://vega.github.io/schema/vega-lite/v5.json',
          "data": {"url": '/calculate_geomean/{{suite}}'},
          "mark": 'bar',
          "encoding": {
            "x": {"field": "config", "type": "nominal"},
            "y": {"field": "geomean", "type": "quantitative"}
          }
      };

      // Embed the visualization in the container with id `vis`
      vegaEmbed('#vis', vlSpec);
    </script>
{% endblock %} 