{% extends 'base.html' %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/vega@5.25.0"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@5.9.1"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@6.22.1"></script>
{% endblock %} 

{% block body %}
<h1 style="text-align: center; padding-top: 20px;">WebAssembly Benchmarking</h1>
<p style="margin: 0 20px;">
  These graphs demonstrate the time it takes for an engine to startup, compile wasm code, and execute it. Click on the data points to generate a subgraph of the benchmark suites for a specific engine.
</p>

<table style="width: 100%; padding: 25px 20px;">
  <thead>
    <tr>
      <th style="text-align: center; width: 65%" colspan="1">
        <h2>Comparison of Engines</h2>
        <label for="graph-select">Select Metric Type</label>
        <select id="graph-select">
          <option value="total_time">Total Time</option>
          <option value="main_time">Main Time</option>
        </select>
      </th>
      <th style="text-align: center;" colspan="1"><h2>{{engine}} Engine by Suite</h2></th>
    </tr>
  </thead>
    <tr>
      <td><div style="display: block; text-align: center;" id="vis"></div></td>
      <td><div style="display: block; text-align: center;" id="specific"></div></td>
    </tr>
</table>
<p><i>If no sub-graph is generated, geomean could not be calculated due to negative values.</i></p>
<script>
  // code for the main graph
  var vlSpec = {
    "width": "container",
    "$schema": 'https://vega.github.io/schema/vega-lite/v5.json',
    "data": {"url": "/get_all_execution"},
    "encoding": {
        "x": {"timeUnit": "yearmonthdate", "field": "experiment_date", "type": "temporal", "title": "Experiment Date"},
        "y": {"field": "total_time", "type": "quantitative", "title": "Total Time (s)"},
          },
      "layer": [
          { // code for the data points
            "mark": {
            "type": "circle",
            "size": 100,
            "cursor": "pointer"
                },
            "transform": [{
            "calculate": "'/total-time/' + datum.engine", // makes the url 
            "as": "url"
                }],
            "encoding": {
                "color": {"field": "engine", "type": "nominal"},
                "href": {"field": "url", "type": "nominal"}
                }
                },
              {
                "mark": "line",
                "encoding": {
                  "color": {"field": "engine", "type": "nominal"}
                }
              }
            ],
        };
  // sub graph code
  var zoom = {
    "width": "container",
    "$schema": 'https://vega.github.io/schema/vega-lite/v5.json',
    "data": {"url": "/get_suites/{{engine}}"},
    "encoding": {
        "x": {"timeUnit": "yearmonthdate", "field": "experiment_date", "type": "temporal", "title": "Experiment Date"},
        "y": {"field": "total_time", "type": "quantitative", "title": "Total Time (s)"},
        "color": {
            "field": "suite", 
            "type": "nominal",
            "legend": null
              }
            },
        "layer": [{
          "description": "transparent layer to make it easier to trigger selection",
          "params": [{
            "name": "hover",
              "select": {
                "type": "point",
                "fields": ["suite"],
                "on": "mouseover"
              }
              }],
              "mark": {"type": "line", "strokeWidth": 8, "stroke": "transparent"}
            }, {
              "mark": "line"
            }, {
              "encoding": {
                "x": {"aggregate": "max", "field": "experiment_date"},
                "y": {"aggregate": {"argmax": "experiment_date"}, "field": "total_time"}
              },
              "layer": [{
                "mark": {"type": "circle"}
              }, {
                "mark": {"type": "text", "align": "left", "dx": 4},
                "encoding": {"text": {"field": "suite", "type": "nominal"}}
              }]
            }]
        };
        // Embed the visualization in the container with id `vis`
  vegaEmbed('#mainVis', vlSpec, {renderer: 'svg'}).then(res => {var view = res.view;});
  vegaEmbed('#zoomView', zoom, {renderer: 'svg'}).then(res => {var view = res.view;});
  
  const vis = document.getElementById('vis');
  const specific = document.getElementById('specific');
  const select = document.getElementById('graph-select');

  function renderGraph(spec1, spec2) {
    vegaEmbed(vis, spec1, {renderer: 'svg'}).then(res => {var view = res.view;});
    vegaEmbed(specific, spec2, {renderer: 'svg'}).then(res => {var view = res.view;});
  }

  // Listen to the dropdown change event
  select.addEventListener('change', function () {
    const selectedGraphType = select.value;

    let newSpec1;
    let newSpec2;
    switch (selectedGraphType) {
      case 'total_time':
        newSpec1 = {
          "width": "container",
          "$schema": 'https://vega.github.io/schema/vega-lite/v5.json',
          "data": {"url": "/get_all_execution"},
          "encoding": {
              "x": {"timeUnit": "yearmonthdate", "field": "experiment_date", "type": "temporal", "title": "Experiment Date"},
              "y": {"field": "total_time", "type": "quantitative", "title": "Total Time (s)"},
                },
            "layer": [
                { // code for the data points
                  "mark": {
                  "type": "circle",
                  "size": 100,
                  "cursor": "pointer"
                      },
                  "transform": [{
                  "calculate": "'/total-time/' + datum.engine", // makes the url 
                  "as": "url"
                      }],
                  "encoding": {
                      "color": {"field": "engine", "type": "nominal"},
                      "href": {"field": "url", "type": "nominal"}
                      }
                      },
                    {
                      "mark": "line",
                      "encoding": {
                        "color": {"field": "engine", "type": "nominal"}
                      }
                    }
                  ],
              };
          newSpec2 = {
            "width": "container",
            "$schema": 'https://vega.github.io/schema/vega-lite/v5.json',
            "data": {"url": "/get_suites/{{engine}}"},
            "encoding": {
                "x": {"timeUnit": "yearmonthdate", "field": "experiment_date", "type": "temporal", "title": "Experiment Date"},
                "y": {"field": "total_time", "type": "quantitative", "title": "Total Time (s)"},
                "color": {
                    "field": "suite", 
                    "type": "nominal",
                    "legend": null
                      }
                    },
                "layer": [{
                  "description": "transparent layer to make it easier to trigger selection",
                  "params": [{
                    "name": "hover",
                      "select": {
                        "type": "point",
                        "fields": ["suite"],
                        "on": "mouseover"
                      }
                      }],
                      "mark": {"type": "line", "strokeWidth": 8, "stroke": "transparent"}
                    }, {
                      "mark": "line"
                    }, {
                      "encoding": {
                        "x": {"aggregate": "max", "field": "experiment_date"},
                        "y": {"aggregate": {"argmax": "experiment_date"}, "field": "total_time"}
                      },
                      "layer": [{
                        "mark": {"type": "circle"}
                      }, {
                        "mark": {"type": "text", "align": "left", "dx": 4},
                        "encoding": {"text": {"field": "suite", "type": "nominal"}}
                      }]
                    }]
                };
          break;
        case 'main_time':
        newSpec1 = {
          "width": "container",
          "$schema": 'https://vega.github.io/schema/vega-lite/v5.json',
          "data": {"url": "/get_all_main"},
          "encoding": {
              "x": {"timeUnit": "yearmonthdate", "field": "experiment_date", "type": "temporal", "title": "Experiment Date"},
              "y": {"field": "main_time", "type": "quantitative", "title": "Main Time (s)"},
                },
            "layer": [
                { // code for the data points
                  "mark": {
                  "type": "circle",
                  "size": 100,
                  "cursor": "pointer"
                      },
                  "transform": [{
                  "calculate": "'/main-time/' + datum.engine", // makes the url 
                  "as": "url"
                      }],
                  "encoding": {
                      "color": {"field": "engine", "type": "nominal"},
                      "href": {"field": "url", "type": "nominal"}
                      }
                      },
                    {
                      "mark": "line",
                      "encoding": {
                        "color": {"field": "engine", "type": "nominal"}
                      }
                    }
                  ],
              };
          newSpec2 = {
            "width": "container",
            "$schema": 'https://vega.github.io/schema/vega-lite/v5.json',
            "data": {"url": "/get_suites_main/{{engine}}"},
            "encoding": {
                "x": {"timeUnit": "yearmonthdate", "field": "experiment_date", "type": "temporal", "title": "Experiment Date"},
                "y": {"field": "main_time", "type": "quantitative", "title": "Main Time (s)"},
                "color": {
                    "field": "suite", 
                    "type": "nominal",
                    "legend": null
                      }
                    },
                "layer": [{
                  "description": "transparent layer to make it easier to trigger selection",
                  "params": [{
                    "name": "hover",
                      "select": {
                        "type": "point",
                        "fields": ["suite"],
                        "on": "mouseover"
                      }
                      }],
                      "mark": {"type": "line", "strokeWidth": 8, "stroke": "transparent"}
                    }, {
                      "mark": "line"
                    }, {
                      "encoding": {
                        "x": {"aggregate": "max", "field": "experiment_date"},
                        "y": {"aggregate": {"argmax": "experiment_date"}, "field": "main_time"}
                      },
                      "layer": [{
                        "mark": {"type": "circle"}
                      }, {
                        "mark": {"type": "text", "align": "left", "dx": 4},
                        "encoding": {"text": {"field": "suite", "type": "nominal"}}
                      }]
                    }]
                };
                break;
              default:
              newSpec1 = {
          "width": "container",
          "$schema": 'https://vega.github.io/schema/vega-lite/v5.json',
          "data": {"url": "/get_all_execution"},
          "encoding": {
              "x": {"timeUnit": "yearmonthdate", "field": "experiment_date", "type": "temporal", "title": "Experiment Date"},
              "y": {"field": "total_time", "type": "quantitative", "title": "Total Time (s)"},
                },
            "layer": [
                { // code for the data points
                  "mark": {
                  "type": "circle",
                  "size": 100,
                  "cursor": "pointer"
                      },
                  "transform": [{
                  "calculate": "'/total-time/' + datum.engine", // makes the url 
                  "as": "url"
                      }],
                  "encoding": {
                      "color": {"field": "engine", "type": "nominal"},
                      "href": {"field": "url", "type": "nominal"}
                      }
                      },
                    {
                      "mark": "line",
                      "encoding": {
                        "color": {"field": "engine", "type": "nominal"}
                      }
                    }
                  ],
              };
          newSpec2 = {
            "width": "container",
            "$schema": 'https://vega.github.io/schema/vega-lite/v5.json',
            "data": {"url": "/get_suites/{{engine}}"},
            "encoding": {
                "x": {"timeUnit": "yearmonthdate", "field": "experiment_date", "type": "temporal", "title": "Experiment Date"},
                "y": {"field": "total_time", "type": "quantitative", "title": "Total Time (s)"},
                "color": {
                    "field": "suite", 
                    "type": "nominal",
                    "legend": null
                      }
                    },
                "layer": [{
                  "description": "transparent layer to make it easier to trigger selection",
                  "params": [{
                    "name": "hover",
                      "select": {
                        "type": "point",
                        "fields": ["suite"],
                        "on": "mouseover"
                      }
                      }],
                      "mark": {"type": "line", "strokeWidth": 8, "stroke": "transparent"}
                    }, {
                      "mark": "line"
                    }, {
                      "encoding": {
                        "x": {"aggregate": "max", "field": "experiment_date"},
                        "y": {"aggregate": {"argmax": "experiment_date"}, "field": "total_time"}
                      },
                      "layer": [{
                        "mark": {"type": "circle"}
                      }, {
                        "mark": {"type": "text", "align": "left", "dx": 4},
                        "encoding": {"text": {"field": "suite", "type": "nominal"}}
                      }]
                    }]
                };
          break;
        }

        renderGraph(newSpec1, newSpec2);
  });
  
  renderGraph(vlSpec, zoom);
</script>
{% endblock %} 