{% extends 'base.html' %}

{% block head %}
<title>Geomean Bar Chart for {{engine}} Engine</title>
<script src="https://cdn.jsdelivr.net/npm/vega@5.25.0"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@5.9.1"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@6.22.1"></script>

<style media="screen">
/* Add space between Vega-Embed links  */
.vega-actions a {
  margin-right: 5px;
  }
</style>
{% endblock %} 

{% block body %}
    <h1>Geomean for {{engine}} Engine</h1>
    <!-- Container for the visualization -->
    <div id="popup"></div>

    <script>
        var popupVis = {
          "$schema": 'https://vega.github.io/schema/vega-lite/v5.json',
            "data": {"url": '/get_suites/{{engine}}'},
            "mark": {
              "type": "line",
              "point": true
            },
            "encoding": {
              "x": {"timeUnit": "date", "field": "experiment date", "type": "temporal"},
              "y": {"field": "total time", "type": "quantitative"},
              "color": {"field": "suite", "type": "nominal"}
            }
        };
  
        // Embed the visualization in the container with id `vis`
        vegaEmbed('#popup', popupVis);
    </script>
{% endblock %} 