{% extends 'base.html' %}

{% block title %}Research Overview{% endblock %}

{% block body %}
<style>
    h2 {
        padding: 0 20px;
    }

    p {
        margin: 20px 20px;
    }

    li {
        margin: 5px 0;
    }
</style>
    <h1 style="text-align: center; padding: 20px 0;">Research Overview</h1>
    <div class="box">
        <div class="clearfix">
            <img style="float: right; width: 600px; height: 300px;" src="https://upload.wikimedia.org/wikipedia/commons/1/18/Dog_Breeds.jpg" alt="dog">
            <h2 style="text-align: left;">Key Terms & Definitions</h2>
            <ul>
                <li><b>Engine:</b> a software (code) that interprets and compiles binary code (such as Wasm) using its various tiers; also called a virtual machine (VM)</li>
                <li><b>Tier:</b> an interpreter or compiler in an engine that affect an engine's performance when enabled/disabled</li>
                <li><b>Interpreter:</b> a tier of an engine that inspects each byte of code and decides what to do</li>
                <li><b>Compiler:</b> a tier of an engine that compiles code (often machine code) from the bytecode; multiple compilers are used to produce high quality code quickly</li>
                <li><b>Benchmarks:</b> a very small portion of the engine program</li>
                <li><b>Suites:</b> a collection of related programs in a benchmark</li>
                <li><b>Line Item:</b> a simple portion of code within a suite</li>
            </ul>
        </div>
    </div>

    <div class="box">
        <div class="clearfix">
            <h2>Introduction</h2> 
            <p style="text-align: left;">The purpose of this project is to compare engine performance when executing Wasm. Building off of previous research by Ben Titzer with the Wizard engine,
                this project compares engine speeds across different metrics: total time, main time, and set up time. Total time is the time it takes from starting up the engine to the end of the executable code program. 
                Main time is the time it takes for the executable code (or compiled code) to run. Set up time is the time it an engine to compile the Wasm bytecode to when it's ready to execute the compiled code. 
                In our experiments, we tested on three suites with varying numbers of line items: PolyBench/C with 29 line items, Ostrich with 11 line items, and Libsodium with 39; 79 wasm files in total.
                The tested engines were built from source code retrieved from their respective GitHubs. 
            </p>
            <img style="float: left; width: 600px; height: 300px;" src="https://upload.wikimedia.org/wikipedia/commons/1/18/Dog_Breeds.jpg" alt="dog">
            <h2>Methods</h2>
            <p style="text-align: left;">Our experiments were ran on a Linux x86_64 machine using a function called btime which was essentially a timer (in seconds) for our three metrics. An experiment consisted of running btime ten times with each engine configuration and wasm file.
                The time from each run were output into a datafile, one for each engine configuration/suite/line item combination. Using btime we created two types of files: zero files and nonzero files. The nonzero files measured total time and the zero files 
                measured the time from engine startup to the end of Wasm code compilation. The zero files were created using a specific flag in btime. Main time was calculated by subtracting the zero files from the nonzero files. We did not run experiments for 
                startup time and used values from Ben Titzer's previous research. In order to visualize our data, we used a PostgreSQL database connected to an API server to generate the graphs on this website. 
            </p>
        </div> 
    </div> 

    <div class="box">
        <div class="clearfix">
            <h2>Results & Further Extensions</h2>
            <p style="text-align: left;">Our results reflect the tradeoff between the speed an engine compiles wasm code and the quality of an engine's executable code. Higher quality code is defined as taking less time to run. Due to machine error, 
                there are some instances in which the zero file's average is greater than the nonzero file's average. As a result, the main time is a negative value. Each experiment runs btime ten times but more runs could have been done to improve accuracy of 
                the data. The data from these experiment may look different when executed on a different machine.
            </p>
        </div>
    </div>
{% endblock %}