{% extends 'base.html' %}

{% block head %}
<title>Geomean for Execution Experiment</title>
<script src="https://cdn.jsdelivr.net/npm/vega@5.25.0"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@5.9.1"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@6.22.1"></script>

<style media="screen">
/* Add space between Vega-Embed links  */
.vega-actions a {
  margin-right: 5px;
  }
</style>
{% endblock %} 

{% block body %}
    <h1>Geomean for Execution Experiment (Interactive Line Highlight and Click)</h1>
    <!-- Container for the visualization -->
    <div id="mainVis"></div>

    <script>
        // Assign the specification to a local variable vlSpec.
        var vlSpec = {
          "$schema": 'https://vega.github.io/schema/vega-lite/v5.json',
            "data": {"url": "/get_all_execution"},
            "mark": {
                "type": "circle",
                "size": 100,
                "cursor": "pointer"
            }, /*{
                "type": "line",
                "point": true
            },*/
            
            "transform": [{
                "calculate": "'/main2/' + datum.engine",
                "as": "url"
            }],
            
            "encoding": {
              "x": {/*"timeUnit": "monthdate",*/ "field": "experiment_date", "type": "temporal"},
              "y": {"field": "total_time", "type": "quantitative"},
              "color": {"field": "engine", "type": "nominal"},
              /*"href": {"field": "https://www.google.com/", "type": "nominal"}*/
              /*"tooltip": {"field": "total_time", "type": "quantitative"}*/
              "href": {"field": "url", "type": "nominal"}
            }
        };
            
  
        // Embed the visualization in the container with id `vis`
        vegaEmbed('#mainVis', vlSpec);
    </script>
{% endblock %} 