h1 { 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 28px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px; 
    text-align: center;
} 

h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 22px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 550; 
    line-height: 24px; 
}

h3 { 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 18px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 15.4px; 
} 

p { 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 16px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 20px; 
    text-align: center;
}

body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.grid-container {
    display: grid;
    grid: auto auto;
    grid-gap: 10px;
    padding: 10px;
}
.grid-container > div {
    padding: 20px 0;
}

/* navigation bar */
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    background-color: #3D59AB;
}

.navbar li {
    float: right;
}

.navbar-title {
    color: white;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    padding: 14px 30px;
    margin: 15px 10px;
    text-decoration: none;
    font-style: normal; 
    font-variant: normal; 
    font-weight: 550; 
    line-height: 24px; 
}

.navbar li a {
    display: inline-block;
    color: white;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    padding: 14px 30px;
    margin: 15px 10px;
    text-decoration: none;
    font-style: normal; 
    font-variant: normal; 
    font-weight: 550; 
    line-height: 24px; 
}

/* dropdown code */
.dropdown {
    color: white;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    text-decoration: none;
}

.dropdown .dropbtn {
    font-size: 20px;  
    color: white;
    padding: 14px 30px;
    margin: 15px 10px;
    background-color: #3D59AB;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal; 
    font-variant: normal; 
    font-weight: 550; 
    line-height: 24px; 
}

.dropdown .dropdown-content{
    display: none;
    position: absolute;
    background-color: #3D59AB;
    width: 18%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown .dropdown-content a {
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 18px;
    font-style: normal; 
    font-variant: normal; 
    font-weight: 550; 
    line-height: 24px; 
}

.dropdown:hover .dropdown-content {
    display: block;
}

ul.navbar li a:hover, ul.dropdown:hover .dropbtn, .dropdown-content a:hover {
    color: #191970;
}

footer {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 10px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 100px;
    text-align: center;
}

/* code for the engine-config details page */
.text-boxes-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.text-box {
    flex: 1;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    
}

.text-box:hover {
    background-color: #3D59AB;
    color: #fff;
    transform: scale(1.1);
    width: 100%;
    z-index: 2;
}

.text-box h3 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: left;
}

.text-box p {
    font-size: 14px;
    opacity: 0; /* Initially hide the text */
    transition: opacity 0.5s ease; /* Add a transition for smooth fade-in effect */
    text-align: left;
  }

.text-box:hover p {
    opacity: 1; /* Make the text visible on hover */
  }

.text-box ul {
    padding: 0;
    margin: 10px 10px; 
}
  
.text-box li {
    font-size: 14px;
    opacity: 0; /* Initially hide the list items */
    transition: opacity 0.5s ease; /* Add a transition for smooth fade-in effect */
}
  
.text-box:hover li {
    opacity: 1; /* Make the list items visible on hover */
}

/* code for the research overview page */
img {
    max-width: 700px;
    height: auto;
    margin: 0 15px;
    border-style: solid;
}

.box {
    overflow: auto;
}
  