<!DOCTYPE html>
<html>
  <head>
    <title>Vega-Lite Demo</title>
    <script src="https://cdn.jsdelivr.net/npm/vega@5.22.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@5.6.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6.21.0"></script>
  </head>
  <body>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

    <style>
        * {
            font-family: "Rubik", "sans-serif";
        }

        div {
            text-align: center;
            margin-top: 50px;
        }

        h1 {
            color: red;
            font-size: 40pt;
        }

        p {
            font-size: 24pt;
        }
    </style>

    <h1>Vega-Lite Demo</h1>
    <div id="vis"></div>

    <script type="text/javascript">
      var yourVlSpec = {
          "$schema": "https://vega.github.io/schema/vega-lite/v5.json",
          "description": "simple bar chart with embedded data",
          "data": { "url": "./wasm-execution-2.csv", "format":{"type": "csv"}
          },
          "height": 600,
          "width": 600,
          "mark": "bar",
          "params": [{
              "name": "benchmark",
              "select": {"type": "point", "fields": ["Operation"]},
              "bind": "legend"
            }],
          "encoding": {
            "x": {"field": "Engine", "type": "nominal", "title": "WASM Engines"},
            "y": {"field": "Value", "type": "quantitative", "title": "Metric Value"},
            "color": {
              "field":"Operation"
            },
            "opacity": {
              "condition": {"param": "benchmark", "value": 1},
              "value": 0.1
            },
            "tooltip": {"field": "Value", "type": "quantitative"}
          }
        };
      vegaEmbed('#vis', yourVlSpec);
    </script>
  </body>
</html>